.projectTopBg {
  background-color: rgb(62 76 240);
  min-height: 50vh;
  position: relative;
  top: -50vh;
  z-index: 1;
}

.projectBg {
  background-color: rgb(62 76 240);
  min-height: 100vh;
  padding-bottom: 30vh;
  position: relative;
  z-index: 2;
  color: white;
}

.projectBox {
  display: flex;
  padding: 0px 80px;
  flex-direction: column;
  gap: 15px;
}

.img2 {
  display: flex;
  gap: 25px;
  width: 100%;
}
