/* styles.css */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

* {
  font-family: 'Inter';

  --color-main-blue: rgb(62 76 240);
  --color-red: rgb(255 63 63);
}
